* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
}

/* header */
header {
    background-color: white;
    height: 70px;
    padding-top: 10px;
}
    /* logo */
#logo {
    float: left;
    height: 70px;
    line-height: 70px;
    margin-left: 15%;
}
#logo h1 {
    font-weight: 700;
    font-size: 50px;
    color: black;
}
    /* nav */
nav {
    margin-right: 15%;
}
ul {
    list-style: none;
}
#menu > li:nth-last-child(n+2) {
    height: 30px;
    margin-top: 35px;
    margin-left: 10px;
    float: left;
    position: relative;
    display: block;
}
#menu > li:nth-last-child(n+2) > a {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#menu > li:nth-last-child(n+2) > a:hover {
    color: yellow;
}
#menu > li:last-child {
    float: right;
    margin-top: 18px;
}
#menu > li:last-child > a > img {
    width: 43px;
    height: 43px;
}


/* main */
    /*category */
#category {
    float: left;
    margin-left: 15%;
    margin-top: 20px;
    list-style: none;
    width: 213px;
}
#category > li > ul {
    box-sizing: border-box;
    padding: 10px;
}
#category > li > ul > a {
    color: black;
    font-weight: 500;
    font-size: 16px;
}
#category > li > ul:nth-child(3) {
    background-color: black;
}
#category > li > ul:nth-child(3) > a {
    font-weight: 900;
    color: white;
}
