* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
}

/* header */
header {
    background-color: white;
    height: 70px;
    padding-top: 10px;
}
    /* logo */
#logo {
    float: left;
    height: 70px;
    line-height: 70px;
    margin-left: 15%;
}
#logo h1 {
    font-weight: 700;
    font-size: 50px;
    color: black;
}
    /* nav */
nav {
    margin-right: 15%;
}
ul {
    list-style: none;
}
#menu > li:nth-last-child(n+2) {
    height: 30px;
    margin-top: 35px;
    margin-left: 10px;
    float: left;
    position: relative;
    display: block;
}
#menu > li:nth-last-child(n+2) > a {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#menu > li:nth-last-child(n+2) > a:hover {
    color: yellow;
}
#menu > li:last-child {
    float: right;
    margin-top: 18px;
}
#menu > li:last-child > a > img {
    width: 43px;
    height: 43px;
}


/* category */
#category {
    float: left;
    margin-left: 15%;
    margin-top: 20px;
}
#category > details {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    border-bottom: gainsboro solid 0.5px;
}
#category > details > p {
    margin-left: 15px;
    margin-top: 10px;
}

/* lecture */
#lecture-list {
    margin-left: 450px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
#lecture-list > #card {
    border: 1px solid gainsboro;
    border-top: 10px solid crimson;
    border-radius: 5px;
    height: 330px;
    width: 210px;
    padding: 15px;
    margin-right: 60px;
    margin-bottom: 30px;
}
#lecture-list > #card > #profile > img {
    margin-left: 8px;
    width: 190px;
    height: 190px;
}
#lecture-list > #card > #text {
    text-align: center;
}
#lecture-list > #card > #text > #name {
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 3px;
} 
#lecture-list > #card > #text > #major {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: -1px;
    color: gray;
    padding-top: 3px;
}
#lecture-list > #card > #text > #target {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -1px;
    padding-top: 13px;
}
#lecture-list > #card > #text > #title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    padding-top: 3px;
}
#lecture-list > #card > #text > #time {
    margin-top: 5px;
}

#lecture-list > #card-yensei {
    border: 1px solid gainsboro;
    border-top: 10px solid royalblue;
    border-radius: 5px;
    height: 330px;
    width: 210px;
    padding: 15px;
    margin-right: 60px;
    margin-bottom: 30px;
}
#lecture-list > #card-yensei > #profile > img {
    margin-left: 8px;
    width: 190px;
    height: 190px;
}
#lecture-list > #card-yensei > #text {
    text-align: center;
}
#lecture-list > #card-yensei > #text > #name {
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 3px;
} 
#lecture-list > #card-yensei > #text > #major {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: -1px;
    color: gray;
    padding-top: 3px;
}
#lecture-list > #card-yensei > #text > #target {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -1px;
    padding-top: 13px;
}
#lecture-list > #card-yensei > #text > #title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    padding-top: 3px;
}
#lecture-list > #card-yensei > #text > #time {
    margin-top: 5px;
}