* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
}

/* header */
header {
    background-color: white;
    height: 70px;
    padding-top: 10px;
}
    /* logo */
#logo {
    float: left;
    height: 70px;
    line-height: 70px;
    margin-left: 15%;
}
#logo h1 {
    font-weight: 700;
    font-size: 50px;
    color: black;
}
    /* nav */
nav {
    margin-right: 15%;
}
ul {
    list-style: none;
}
#menu > li:nth-last-child(n+2) {
    height: 30px;
    margin-top: 35px;
    margin-left: 10px;
    float: left;
    position: relative;
    display: block;
}
#menu > li:nth-last-child(n+2) > a {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#menu > li:nth-last-child(n+2) > a:hover {
    color: yellow;
}
#menu > li:last-child {
    float: right;
    margin-top: 18px;
}
#menu > li:last-child > a > img {
    width: 43px;
    height: 43px;
}

#profile  {
    float: left;
    width: 180px;
    text-align: center;
    margin-left: 15%;
    margin-top: 20px;
}
#profile > #profile-img {
    width: 100%;
}
#profile > #profile-img > img {
    width: 150px;
    height: 150px;
}

#profile > #teacher-information > #name {
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 3px;
} 
#profile > #teacher-information > #school {
    padding-top: 8px;
    font-size: 14px;
    letter-spacing: 3px;
} 
#profile > #teacher-information > #major {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: -1px;
    color: gray;
    padding-top: 3px;
}


#lecture {
    float: right;
    width: 800px;
    margin-right: 15%;
    margin-top: 20px;
}
#lecture > #lecture-title > details {
    display: flex;
}
#lecture > #lecture-title > details > summary{
    float: left;
    font-size: 25px;
    font-weight: 600;
}
#lecture > #lecture-title > details > p {
    padding-left: 25px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
#lecture > #lecture-video {
    margin-top: 20px;
    float: left;
    background-color: gray;
    width: 800px;
    height: 500px;
}